@import url("https://fonts.googleapis.com/css2?family=Fredoka&display=swap");

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fredoka", sans-serif;
}

body {
  background: rgb(46, 45, 45);
  color: rgb(232, 226, 226);
}

button,
input[type="submit"] {
  background: none;
  border: none;
  cursor: pointer;
  background: rgb(167, 242, 242);
  transition: 0.2s;

  &:hover {
    filter: brightness(80%);
    transform: translateX(2px);
  }
}

input,
textarea {
  border-radius: 7px;
  border: none;
  resize: none;
  margin: 5px;
  padding: 8px;
  background: white;
}
